<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Iona Path</title>
    <script>
        var angular = require('angular');
    </script>
    <link rel="stylesheet" href="./style/main.css">
  </head>
  <body ng-app="myApp" ng-controller="myCtrl" scroll="none">
    <div class="contentArea" id="contentArea" ng-show="loaded">
        <div class="sidebar">
          <div id="menuBar">
            <div class="topIcons">

            </div>
            <div class="iconspacer">

            </div>
            <div class="bottomIcons">
              <img ng-click="projectSettingShow = true" class="menuIcon" src="./assets/cog-solid.svg" alt="">
            </div>
          </div>
          <div id="pathsListBox">
            <div id="paths-box-body">
              <h3>Paths</h3>
              <div class="path-List-Item" ng-repeat="path in paths" ng-style="highlightSelected(path.selected)">
                <span ng-show="path.enter" ng-click="path = clickPath(path)">{{path.name}}</span>
                <input ng-hide="path.enter" focus-on="path.enter" type="text" ng-model="path.name" ng-Enter="path = ChangePathName(path); path.enter = true" ng-Focusout="path = ChangePathName(path); path.enter = true" class="pathNameChange">
              </div>
              <button ng-click="NewPath()">Add</button>
            </div>
          </div>
          <div id="pathsDrawHandle">
            <div id="changeIndicator" style="width: 10px; height: 10px; border-radius: 5px; background: white; margin: 10px; display: none"></div>
          </div>
          <div id="sectionsListBox">
            <div id="sections-box-body">
              <div class="section-header">
                <h3>Sections</h3>
                <img ng-click="newSection()" src="./assets/add-blue.svg" alt="">
              </div>
              
              <div class="sections">
                <div class="section" ng-repeat="section in Sections">
                  <div ng-hide="sectionIsSelected($index)" ng-click="sectionSelect($index)" class="section-unselected"><span>Section {{$index + 1}}</span></div>
                  <div ng-show="sectionIsSelected($index)" class="section-selected"><span>Section {{$index + 1}}</span><img class="icon" src="./assets/dropdown-solid.svg" ng-click="section.dropdown = !section.dropdown" alt=""></div>
                  <div class="section-dropdown" ng-style="isSectionDropdownShown(section.dropdown, $index)" >
                    <div ng-show="section.dropdown && sectionIsSelected($index)" style="transition-delay: 500ms; transition-property: display;">
                      <div class="setting">
                        <span class="setting-text">Inverted</span>
                        <input type="checkbox" ng-model="section.inverted" ng-change="updateSectionSettings($index)">
                      </div>
                      <div class="setting">
                        <span class="setting-text">switch Sides</span>
                        <input type="checkbox" ng-model="section.switchSides" ng-change="updateSectionSettings($index)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="sectionsDrawHandle">
          </div>

        </div>
        <div class="content" id="content">
          <div class="TopPannels">
            <div class="canvas-pannel" ng-style="toolCursor()">
              <div id="canvasSpacer" style="position: relative;">
                <canvas id="fieldView"
                  style="position: absolute; left: 0; top: 0; z-index: 0; background: url('./images/InfinteRecharge.png'); background-size: cover;"></canvas>
                <canvas id="pointsView" ng-click="click()"
                  style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
              </div>
              <div class="pannel-body" style="padding-right: 0">
                <div ng-style="isCurrentToolBk(0)" style="height: 15px; margin-bottom: 5px;"><img id="tool-Move" ng-click="setTool(0)" src="./assets/move-gray.svg" width="15" alt=""></div>
                <div ng-style="isCurrentToolBk(1)" style="height: 15px; margin-bottom: 5px;"><img id="tool-Add" ng-click="setTool(1)" src="./assets/add-gray.svg" width="15" alt=""></div>
              </div>
            </div>
            <div class="pannel">
              <div class="pannel-body">
                Settings
                <div class="setting">
                  <span class="setting-text">Max Velocity</span>
                  <input type="number" ng-model="options.velocity" ng-blur="updatePathOptionsSettings()">
                </div>
                <div class="setting">
                  <span class="setting-text">Max Acceleration</span>
                  <input type="number" ng-model="options.acceleration" ng-blur="updatePathOptionsSettings()">
                </div>
                <div class="setting">
                  <span class="setting-text">Max Jerk</span>
                  <input type="number" ng-model="options.jerk" ng-blur="updatePathOptionsSettings()">
                </div>
              </div>
            </div>
          </div>
          <div class="BottomPannels" id="BottomPannels">
            <div class="pannel">
              <div class="pannel-body">
                <table>
                  <tr>
                    <td><div style="width: 15px;"></div></td>
                    <td><div style="width: 133px;">X</div></td>
                    <td><div style="width: 133px;">Y</div></td>
                    <td><div style="width: 133px;">Angle</div></td>
                  </tr>
                </table>
                <div id="pointsListSortab">
                  <table ng-repeat="point in points">
                    <tr>
                      <td><img class="rearrangeHandle" src="./assets/Rearrange.svg" width="15px;" alt=""></td>
                      <td><input type="number" ng-model="point[0]" ng-change="pointChange(point[0])"></td>
                      <td><input type="number" ng-model="point[1]" ng-change="pointChange(point[1])"></td>
                      <td><input type="number" ng-model="point[2]" ng-change="pointChange(point[2])"></td>
                      <td><button ng-click="deletePoint(point)">-</button></td>
                    </tr>
                  </table>
                </div>
                <table>
                  <tr>
                    <td><div style="width: 15px;"></div></td>
                    <td><input type="number" ng-model="addingPoint0" ng-Enter="addPoint()" id="firstAdd"></td>
                    <td><input type="number" ng-model="addingPoint1" ng-Enter="addPoint()"></td>
                    <td><input type="number" ng-model="addingPoint2" ng-Enter="addPoint()"></td>
                    <td><button ng-click="addPoint()">Add</button></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="pannel">
              <div class="pannel-body VelocityPannel">
                Velocity
                <canvas id="velocityCanvas" ></canvas>
              </div>
            </div>
          </div> 
        </div>
    </div>
    <div ng-show="projectSettingShow" class="modal-back">
      <div class="modal-pannel" style="width: 500px; height: 400px;">
        <!--<div class="modal-close"><img ng-click="projectSettingShow = false" src="./assets/close-solid.svg" alt="Close"></div>-->
        <div class="modal-body">
          Project Settings
          <div class="projectSettings">
            <div class="setting">
              <span class="setting-text">Team Number</span>
              <input type="number" ng-model="project.teamnumber" ng-blur="updateProjectSettings()">
            </div>
            <div class="setting">
              <span class="setting-text">Wheel Base Width</span>
              <input type="number" ng-model="project.wheelBase" ng-blur="updateProjectSettings()">
            </div>
            <div class="setting">
              <span class="setting-text">Time Step</span>
              <input type="number" ng-model="project.timeStep" ng-blur="updateProjectSettings()">
            </div>
            <div class="setting">
              <span class="setting-text">Velocity Output</span>
              <input type="text" ng-model="project.velocityOutput" ng-blur="updateProjectSettings()">
            </div>
            <div class="setting">
              <span class="setting-text">Distance Output</span>
              <input type="text" ng-model="project.distanceOutput" ng-blur="updateProjectSettings()">
            </div>
            <div class="setting">
              <span class="setting-text">Robot Type</span>
              <select name="" id="">
                <option value="tank">Tank</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="projectSettingShow" ng-click="projectSettingShow = false" style="position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; background-color: rgba(46, 46, 46, 0.39); z-index: 9;">

    </div>
    <div id="MagicUpdater" ng-click="updateEverything()"></div>
    <script src="./js/renderer.js"></script>
  </body>
</html>
