
body {
    background-color: #E5E5E5;
    overflow: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.pannel {
    background-color: white;
    border-radius: 10px;
    .pannel-body {
        padding: 10px;  
    }
    margin: 0 20px 20px 0;
}

.canvas-pannel {
    display: grid;
    grid-template-columns: auto 20px;
    background-color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: white solid 5px;
    .pannel-body {
        padding: 5px;  
    }
    width: min-content;
    margin: 0 20px 20px 0;
}
.canvas-pannel-error {
    animation: borderToRed 1s 1;
    border-color: red;
}
.canvas-pannel-error-remove {
    animation: borderToWhite 1s 1;
    border-color: white;
}

.contentArea {
    width: 100vw;
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: auto;

}

.content {
    height: 100vh;
    padding: 20px 0 0 20px;
    display: grid;
    grid-template-rows: min-content max-content;

    .TopPannels {
        display: grid;
        grid-template-columns: min-content auto;
    }
    .BottomPannels {
        display: grid;
        grid-template-columns: min-content auto;
    }
}

.sidebar {
    display: flex;
    flex-direction: row;
    #menuBar {
        background-color: #2D2E2E;
        width: 70px;
        height: 100vh;
        display: grid;
        grid-template-rows: min-content auto min-content;
        .bottomIcons {
            display: flex; align-items: flex-end;
        }
    }
    #pathsDrawHandle {
        transition: left 500ms;
        background-color: #00A8FF;
        width: 30px;
        height: 100vh;
        display: grid;
        justify-content: center;
        position: fixed;
        left: 70px;
        z-index: 2;
    }
    #sectionsDrawHandle {
        background-color: #007DBE;
        width: 25px;
        height: 100vh;
        position: fixed;
        left: 100px;
        z-index: 2;
        transition: left 500ms;
        display: grid;
        grid-template-rows: auto min-content;
        .bottomIcons {
            display: flex; align-items: flex-end;
        }
        img {
            width: 19px;
            margin: 3px;
            color: white;
            stroke: white;
        }
    }
    #pathsListBox {
        width: 0;
        height: 100vh;
        background-color: #E5E5E5;
        position: fixed;
        z-index: 2;
        left: 70px;
        transition: width 500ms, left 500ms;
        #paths-box-body {
            display: none;
            h3 {
                margin: 5px;
            }
        }
    }
    #sectionsListBox {
        width: 0;
        height: 100vh;
        background-color: #E5E5E5;
        position: fixed;
        z-index: 2;
        left: 100px;
        transition: width 500ms, left 500ms;
        #sections-box-body {
            display: none;
            h3 {
                margin: 5px;
            }
        }
        .section-header {
            display: grid;
            grid-template-columns: auto min-content;
            align-items: center;
            img {
                height: 21px;
                margin: 5px;
                color: #007DBE;
            }
        }
    }
}

.VelocityPannel {
    display: grid;
    grid-template-rows: min-content min-content;
}

@-webkit-keyframes borderToRed {
    from {border-color: white;}
    to {border-color: red;}
}

@-webkit-keyframes borderToWhite {
    from {border-color: red;}
    to {border-color: white;}
}
@keyframes borderToRed {
    from {border-color: white;}
    to {border-color: red;}
}

@keyframes borderToWhite {
    from {border-color: red;}
    to {border-color: white;}
}

.path-List-Item {
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    cursor: pointer;
    span {
        margin: 5px 0 5px 10px;
        width: 100%;
    }
    input {
        margin: 5px 0 5px 10px;
        height: 12px;
    }
}

.menuIcon {
    color: white;
    width: 32px;
    padding: 19px;
}

.modal-back {
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-pannel {
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    .modal-body {
        padding: 10px;
        z-index: 11;
    }
    .modal-close {
        position: fixed;
        width: 500px;
        height: 400px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        img {
            z-index: 10;
            height: 30px;;
        }
    }
}

.section {
    .section-unselected {
        padding: 5px 0 5px 10px;
        cursor: pointer;
    }
    .section-selected {
        padding: 5px 0 5px 10px;
        cursor: pointer;
        background-color: #07547e;
        color: white;
        display: grid;
        grid-template-columns: auto min-content;
    }
}

.icon {
    height: 14px;
    margin: 2px 5px 0;
}

.section-dropdown {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    background-color: white;
    transition: height 500ms, padding 500ms;
}